.nav_bg {
    padding: 30px 0px 0px;
    margin: 0px;
}
.logo {
    float: left;
    width: 200px;
    /* padding-left: 1%; */
    padding-top: 10px; 
    text-align: left;
}
.logo img {
    width: 100px !important;
    float: left;
    padding: 1px !important;
    text-align: left;
}
.MuiBox-root .css-1t6c9ts{
float: left !important;
}

.css-1t6c9ts{
    padding-left: 45%;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background: transparent !important;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%) !important;

}

.MuiList-root {
    background-color: black !important;
    font-size: 10px !important;
}






